<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9797534123-vk3ehu2t0hgm6o8q70tn0rr90l4o76u4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9797534123-vk3ehu2t0hgm6o8q70tn0rr90l4o76u4</string>
	<key>API_KEY</key>
	<string>AIzaSyAi_SfYaFaL95O6Cu3Lg-O3PSp6VtuSDJE</string>
	<key>GCM_SENDER_ID</key>
	<string>9797534123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ifHector.determit</string>
	<key>PROJECT_ID</key>
	<string>determit-1626329752619</string>
	<key>STORAGE_BUCKET</key>
	<string>determit-1626329752619.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9797534123:ios:cbcf1d6cc6809a6f9992ee</string>
</dict>
</plist>